<div class="text-center gap-6 m-5 grid grid-cols-12">
    <a class="border py-3 col-span-6 md:col-span-4 lg:col-span-3 text-[#38aed2] rounded bg-white border-[#38aed2] font-bold hover:text-white hover:bg-gradient-to-r hover:from-[#468fc8] hover:to-[#2ccbf1]"
    [routerLink]="['/']"
        routerLinkActive="!text-white !bg-gradient-to-r !from-[#4082b5] !to-[#2abade]"
        [routerLinkActiveOptions]="{ exact: true }">Modifier mon profile</a>
    <a class="border py-3 col-span-6 md:col-span-4 lg:col-span-3 text-[#38aed2] rounded bg-white border-[#38aed2] font-bold hover:text-white hover:bg-gradient-to-r hover:from-[#468fc8] hover:to-[#2ccbf1]"
        [routerLink]="['/enfants']" routerLinkActive="!text-white !bg-gradient-to-r !from-[#4082b5] !to-[#2abade]">Mes
        Enfants</a>
</div>